@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


header{
  text-align: center;

  a{
    color: purple;

    &:hover{
      color: green;
      transition: $animation_speed;
    }
  }

  img{
    background-size: cover;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: relative;
    z-index: -100;

  }

  h1{
    font-family: 'Permanent Marker', cursive;
    color: white;
    position: absolute;
    z-index: 100;
    top: 100px;
    width: 100%;
    font-size: 100px;
  }
}

main{
  width: 70%;
  margin: 0px auto;
}