#search-form{
  margin: 0px auto;
  width: 70%;
  padding: $gutter_sm;

  input{
    line-height: 4em;
    margin: 2em;
    width: 40%;
  } 

  button{
    background-color: #333;
    line-height: 3em;
    width: 30%;
    color: white;
    font-size: 14px;
  }

  button:hover{
    background-color: $button_bg;
    color: $button_color;
    transition: $animation_speed;
  }
}

#map{
  img{
    width: 100%;
  }
}

#results{
  display: flex;
  width: 20%;
  border: 1px red solid;
}