// colors
$bg_standard: #888;
$black: #000;
$white: #fff;
$grey: $black/2;
$header: rgb(59, 126, 153);

// grid
$gutter_standard: 3vw;
$gutter_sm: $gutter_standard/2;
$gutter_header: $gutter_standard*2;

// fonts
$font_std: 'helvetica';


//animations
$animation_speed: 350ms;

